
<ul>
    {% for node in menu_tree %}
        <li>
            <a href="{{ node.item.get_url }}" class="{% if node.is_active %}active{% endif %}">
                {{ node.item.title }}
            </a>

            {% if node.children and node.is_active %}
                <!-- Рекурсивно включаем тот же шаблон для рендеринга подменю -->
                <ul>
                    {% include 'menu.html' with menu_tree=node.children %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>